<!-- /templates/how-to-use.liquid -->

{% include 'breadcrumb' %}

<section class="grid">

  <div class="grid__item large--two-thirds"><!-- push--large--one-sixth -->

    <h1 itemprop="name">{{ page.title }}</h1>

    <div class="slider push--large--one-quarter">
        <div class="flexslider2">
          <ul class="slides">
            <li>
              <img src="howToUse_01.png" class="left" />
              <div class="how-to-use">
                <h2>{{ 'how_to_use.style_one.style' | t }}</h2>
                <p>{{ 'how_to_use.style_one.description' | t }}</p>
              </div>
            </li> 
            <li>
              <img src="howToUse_02.png" class="left" />
              <div class="how-to-use">
                <h2>{{ 'how_to_use.style_two.style' | t }}</h2>
                <p>{{ 'how_to_use.style_two.description' | t }}</p>
              </div>
            </li> 
            <li>
              <img src="howToUse_03.png" class="left"/>
              <div class="how-to-use">
                <h2>{{ 'how_to_use.style_three.style' | t }}</h2>
                <p>{{ 'how_to_use.style_three.description' | t }}</p>
              </div>
            </li>
            <li>
              <img src="howToUse_04.png" class="left"/>
              <div class="how-to-use">
                <h2>{{ 'how_to_use.style_four.style' | t }}</h2>
                <p>{{ 'how_to_use.style_four.description' | t }}</p>
                <img src="howToUse_04Circle.png" class="left" width="150px" height="150px"/>
              </div>
            </li>
            <li>
              <img src="howToUse_05.png" class="left"/>
              <div class="how-to-use">
                <h2>{{ 'how_to_use.style_five.style' | t }}</h2>
                <p>{{ 'how_to_use.style_five.description' | t }}</p>
              </div>
            </li>
            <li>
              <img src="howToUse_06.png" class="left"/>
              <div class="how-to-use">
                <h2>{{ 'how_to_use.style_six.style' | t }}</h2>
                <p>{{ 'how_to_use.style_six.description' | t }}</p>
              </div>
            </li>
            <li>
              <img src="howToUse_07.png" class="left"/>
              <div class="how-to-use">
                <h2>{{ 'how_to_use.style_seven.style' | t }}</h2>
                <p>{{ 'how_to_use.style_seven.description' | t }}</p>
              </div>
            </li>
            <li>
              <img src="howToUse_08.png" class="left"/>
              <div class="how-to-use">
                <h2>{{ 'how_to_use.style_eight.style' | t }}</h2>
                <p>{{ 'how_to_use.style_eight.description' | t }}</p>
              </div>
            </li>
            <li>
              <img src="howToUse_09.png" class="left"/>
              <div class="how-to-use">
                <h2>{{ 'how_to_use.style_nine.style' | t }}</h2>
                <p>{{ 'how_to_use.style_nine.description' | t }}</p>
              </div>
            </li>
            <li>
              <img src="howToUse_10.png" class="left"/>
              <div class="how-to-use">
                <h2>{{ 'how_to_use.style_ten.style' | t }}</h2>
                <p>{{ 'how_to_use.style_ten.description' | t }}</p>
              </div>
            </li>
            <li>
              <img src="howToUse_11.png" class="left"/>
              <div class="how-to-use">
                <h2>{{ 'how_to_use.style_eleven.style' | t }}</h2>
                <p>{{ 'how_to_use.style_eleven.description' | t }}</p>
              </div>
            </li>
            <li>
              <img src="howToUse_12.png" class="left"/>
              <div class="how-to-use">
                <h2>{{ 'how_to_use.style_twelve.style' | t }}</h2>
                <p>{{ 'how_to_use.style_twelve.description' | t }}</p>
              </div>
            </li>
          </ul>
        </div>  
      </div>
  </div>
  
</section>
