<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}
 
<section class="grid-uniform rtbs">
  
  <!--
  <div class="grid__item large--one-quarter text-center">
    <div class="rtb-icon medium-down--hide"></div>
    <h3>{{ 'homepage.sections.rtb_one' | t }}</h3>
    <div class="rtb-separators large--hide"></div>
  </div>
  -->
  
  <div class="grid__item large--one-third text-center">
    <div class="rtb-icon medium-down--hide"></div>
    <h3>{{ 'homepage.sections.rtb_two' | t }}</h3>
    <div class="rtb-separators large--hide"></div>
  </div>
  
  <div class="grid__item large--one-third text-center">
    <div class="rtb-icon medium-down--hide"></div>
    <h3>{{ 'homepage.sections.rtb_three' | t }}</h3>
    <div class="rtb-separators large--hide"></div>
  </div>
  
  <div class="grid__item large--one-third text-center">
    <div class="rtb-icon medium-down--hide"></div>
    <h3>{{ 'homepage.sections.rtb_four' | t }}</h3>
  </div>
  
</section>


{% comment %}featured  -  Changeable image (12 styles of twelveways){% endcomment %}

{% if settings.twelve_ways_enable %}

  <section class="grid-uniform">
    <div class="grid__item">
      <div class="twelve-ways-image-homepage" title="{{ settings.twelve_ways_image_title | escape }}"></div>
    </div>
  </section>

{% endif %}


{% comment %}get inspired section{% endcomment %}

{% if settings.get_inspired_enable %}

<section class="grid--full get-inspired-container">
  
  <div class="grid__item large--one-half">
    <div class="get-inspired-section--message">
      <h2>{{ 'homepage.sections.get-inspired.title' | t }}</h2>
      <a href="/pages/get-inspired">{{ 'homepage.sections.get-inspired.cta' | t }}</a>
    </div>
  </div>
  
  <div class="grid__item large--one-half">
    <a href="/pages/get-inspired" class="get-inspired-section--image">
      <div class="section-image" title="{{ settings.get_inspired_image_title | escape }}"></div>
    </a>
  </div>
</section>

{% endif %}


{% comment %}A Weekend with Twelveways{% endcomment %}

{% if settings.get_inspired_enable %}

<section class="grid">
  
  <div class="grid__item large--one-half">
    <div class="weekend-video-section">
      <h2>{{ 'homepage.sections.weekend-video.title' | t }}</h2>
      <p>{{ 'homepage.sections.weekend-video.copy' | t }}</p>
      <iframe width="471" height="265" src="https://www.youtube.com/embed/FZv5yLa2_Dk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  
  <div class="grid__item large--one-half">
     <div class="how-to-video-section">
      <h2>{{ 'homepage.sections.how-to-video.title' | t }}</h2>
      <p>{{ 'homepage.sections.how-to-video.copy' | t }}</p>
      <iframe width="471" height="265" src="https://www.youtube.com/embed/AHb7APIuuJA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
</section>

{% endif %}
