<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}
 
<section class="grid-uniform rtbs">
  
  <div class="grid__item text-center">
    <h3>{{ 'homepage.sections.rtb_one' | t }}</h3>
    <div class="rtb-separators"></div>
  </div>
  
  <div class="grid__item text-center">
    <h3>{{ 'homepage.sections.rtb_two' | t }}</h3>
    <div class="rtb-separators"></div>
  </div>
  
  <div class="grid__item text-center">
    <h3>{{ 'homepage.sections.rtb_three' | t }}</h3>
    <div class="rtb-separators"></div>
  </div>
  
  <div class="grid__item text-center">
    <h3>{{ 'homepage.sections.rtb_four' | t }}</h3>
    <div class="rtb-separators"></div>
  </div>
  
</section>

<section class="grid-uniform rtbs-made">
  <div class="grid__item text-center">
    <small>{{ 'homepage.sections.proudly_made_by' | t }}</small>
  </div>
</section>


{% comment %}featured  -  Changeable image (12 styles of twelveways){% endcomment %}

{% if settings.twelve_styles_enable %}

  <section class="grid-uniform">
    <div class="grid__item">
      <div class="twelve-styles-image" title="{{ settings.twelve_styles_image_title | escape }}"></div>
    </div>
  </section>

{% endif %}


{% comment %}get inspired section{% endcomment %}

{% if settings.get_inspired_enable %}

<section class="grid--full get-inspired-container">
  
  <div class="grid__item large--one-half get-inspired-section">
    <div class="get-inspired-section--message">
      <h2>{{ 'homepage.sections.get-inspired.title' | t }}</h2>
      <a href="{{ settings.get_inspired_link }}">{{ 'homepage.sections.get-inspired.cta' | t }}</a>
      </div>
  </div>
  
  <div class="grid__item large--one-half get-inspired-section">
    <a href="{{ settings.get_inspired_link }}">
      <div class="get-inspired-section--image" title="{{ settings.get_inspired_image_title | escape }}"></div>
    </a>
  </div>
</section>

{% endif %}



