<!-- /templates/get-inspired.liquid -->
{% include 'breadcrumb' %}

<section class="grid">
  
  <div class="grid__item get-inspired-page-container">

    <h1 itemprop="name">{{ page.title }}</h1>

    {% include 'hero-video' %}
    
    <h2>{{ 'get_inspired.subTitle' | t }}</h2>
    
    <div class="grid">
      <div class="category">
         
        <ul class="get-inspired__categories">
          <li class="grid__item medium--one-half large--one-half">
            <a href="/pages/get-inspired-category-casual-business" class="categories_casual-business">
              <h3>{{ 'get_inspired.categories.casual_business' | t }}</h3>
            </a>
          </li>
          
          <li class="grid__item medium--one-half large--one-half">
            <a href="/pages/get-inspired-category-resort-hotel" class="categories_resort-hotel">
              <h3>{{ 'get_inspired.categories.resort_travel' | t }}</h3>
            </a>
          </li>
          
          
          <li class="grid__item medium--one-half large--one-half">
            <a href="/pages/get-inspired-category-cocktail-evening" class="categories_cocktail-evening">
              <h3>{{ 'get_inspired.categories.cocktail_evening' | t }}</h3>
            </a>
          </li>
          <li class="grid__item medium--one-half large--one-half">
            <a href="/pages/get-inspired-category-holiday" class="categories_holiday">
              <h3>{{ 'get_inspired.categories.holiday' | t }}</h3>
            </a>
          </li>
          
          
          <li class="grid__item medium--one-half large--one-half">
            <a href="/pages/get-inspired-category-fitness" class="categories_fitness">
              <h3>{{ 'get_inspired.categories.fitness' | t }}</h3>
            </a>
          </li>
          <li class="grid__item medium--one-half large--one-half">
            <a href="/pages/get-inspired-category-maternity" class="categories_maternity">
              <h3>{{ 'get_inspired.categories.maternity' | t }}</h3>
            </a>
          </li>
        </ul>
        
      </div>
    </div>
    
  </div>
  
</section>
